.image {
  max-width: 100%;
  object-fit: fill;
  padding-right: 20px;
  display: block;
}

.image-2 {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 40px;
}

.text-block {
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.subtitle {
  color: #0d0f22;
  text-align: center;
  object-fit: fill;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 30px;
  display: flex;
  overflow: visible;
}

.container {
  justify-content: space-between;
  display: flex;
}

.button {
  background-color: #965bba;
  border-radius: 11px;
}

.submit-button {
  width: 300px;
  background-color: #965bba;
  border-radius: 15px;
  margin-left: 0;
  margin-right: 100px;
}

.form {
  grid-column-gap: 3px;
  grid-row-gap: 16px;
  flex-flow: column wrap;
  grid-template: ". ."
                 ". Area"
                 / 2fr .25fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
}

.text-field {
  width: auto;
  max-width: 600px;
  min-width: 500px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 20px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.form-block {
  display: flex;
}

.field-label {
  margin-top: 20px;
}

.submit-button-2 {
  min-width: 300px;
  text-align: center;
  background-color: #0d0f21;
  border-radius: 16px;
  margin-left: 100px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  display: inline-block;
  position: static;
}

.field-label-2 {
  color: #0d0f1c;
  margin-top: 20px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
}

.body {
  border-radius: 0;
  font-family: IBM Plex Mono, sans-serif;
}

.form-2 {
  margin: 40px;
}

.form-block-2 {
  object-fit: fill;
  justify-content: space-around;
  margin-bottom: 10px;
  display: flex;
}

.form-block-2.hidden {
  display: none;
}

.text-field-2 {
  min-width: 500px;
}

.div-block {
  margin: 40px 100px 20px;
  font-family: IBM Plex Mono, sans-serif;
  display: block;
}

.section {
  display: flex;
}

.image-3 {
  margin-left: 0;
}

.heading {
  font-family: Bitter, serif;
  font-size: 50px;
  font-weight: 700;
}

.div-block-2 {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.image-4 {
  margin-top: 10px;
  margin-right: 10px;
}

.text-block-2 {
  margin-left: 40px;
}

.container-2 {
  justify-content: center;
  display: flex;
}

.container-2.hidden {
  display: none;
}

.image-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-3 {
  justify-content: center;
  display: block;
}

.container-3.hidden {
  display: none;
}

.html-embed {
  display: block;
}

.reportlabel {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.reportcontainer {
  display: block;
}

.reportcontainer.hidden {
  display: none;
}

.reporttext {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
}

.link {
  justify-content: center;
  margin-top: 40px;
  display: flex;
}

.text-span {
  color: #0d0f22;
  margin-bottom: 20px;
}

.container-4 {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.container-4.hidden {
  display: none;
}

.button-2 {
  min-width: 100px;
  text-align: center;
  background-color: #ff192b;
  border-radius: 13px;
  align-self: flex-start;
}

.image-6 {
  max-width: 200px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.container-5 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 18px;
  }

  .form-2 {
    margin-top: 20px;
  }

  .div-block {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 479px) {
  .subtitle {
    font-size: 14px;
  }

  .submit-button-2 {
    margin-left: 0;
    font-size: 16px;
  }

  .field-label-2 {
    font-size: 14px;
  }

  .form-2 {
    margin-top: 10px;
  }

  .text-field-2 {
    width: 300px;
    max-width: 300px;
    min-width: auto;
    outline-offset: 0px;
    outline: 0 solid #333;
  }

  .div-block {
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading {
    font-size: 40px;
  }

  .container-2 {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }

  .image-5 {
    max-width: 100px;
  }

  .text-block-3 {
    font-size: 9px;
  }
}


